<div class="row bg-primary">
    <div class="col text-center" style="color: white;">FORMULARIO</div>
</div>
<form novalidate (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="row">
        <div class="col-5">
            <input class="mt-2" type="text" #nombreproducto="ngModel" name="nombre" required [(ngModel)]="datosFormularios.nombre" placeholder="Nombre">
            <div class="errors mb-2" *ngIf="nombreproducto.errors?.['required']  && nombreproducto.touched">
                El nombre es obligatorio
            </div>
            <input class="mt-2" type="number" #precioproducto="ngModel" name="precio" [(ngModel)]="datosFormularios.precio" placeholder="Precio"
            min="0.1">
            <div class="errors mb-2" *ngIf="precioproducto.errors?.['min'] && precioproducto.touched">
            El mínimo es 0.1€
            </div>
            <input class="my-2" type="text" #categoriaproducto name="categoria" [(ngModel)]="datosFormularios.categoria"
                placeholder="Categoría">
            <button [disabled]="!form.valid" type="submit" id="submit" class="btn btn-primary" btn-lg btn-block>Enviar</button>
        </div>
    </div>
    {{datosFormularios | json}}
</form>